body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  padding: 8px;
  font-size: 20px;
}

.content {
  background: #e3f4ff;
  padding: 10px;
}

.button-container {
  margin-top: 8px;
  background: #e3f4ff;
  text-align: center;
  padding: 10px;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 6px 16px;
  display: block;
  margin: auto;
}